<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <!-- GLOBAL MAINLY STYLES-->
    <link href="./assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <link href="./assets/vendors/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="assets/css/main.min.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            var url = window.location.href;
            $("#lang-en").attr('href', replaceUrlParam(url, 'lang', 'en'));
            $("#lang-vi").attr('href', replaceUrlParam(url, 'lang', 'vi'));

            var interval = 1000 * 15 * 1; // reload getAnnouncementMessage each 15 seconds

            var intervalId = setInterval(getAnnouncementMessage, interval);

            $(window).focus(function() {
                if (!intervalId){
                    intervalId = setInterval(getAnnouncementMessage, interval);
                }
            });

            $(window).blur(function() {
                clearInterval(intervalId);
                intervalId = 0;
            });
        });

        function replaceUrlParam(url, paramName, paramValue){
            if (paramValue == null) {
                paramValue = '';
            }
            var pattern = new RegExp('\\b('+paramName+'=).*?(&|$)');
            if (url.search(pattern) >= 0) {
                return url.replace(pattern,'$1' + paramValue + '$2');
            }
            return url + (url.indexOf('?') > 0 ? '&' : '?') + paramName + '=' + paramValue;
        }

        function getAnnouncementMessage() {
            // Your logic to get the announcement message goes here.
            console.log('Fetching announcement message...');
        }
    </script>
</head>
<body>
        <header class="header" th:fragment="header">
            <div class="page-brand">
                <a class="link" href="index">
                    <span class="brand">
                    <!-- <span th:utext="${#request.userPrincipal.name}"></span> -->
                        <span class="brand-tip"  th:utext="#{label.logo.res}"></span>
                    </span>
                    <span class="brand-mini" th:utext="#{label.logo.mini}"></span>
                </a>
            </div>
            <div class="flexbox flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li>
                        <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
                    </li>
                    <li>
                        <form class="navbar-search" action="javascript:;">
                            <div class="rel">
                                <span class="search-icon"><i class="ti-search"></i></span>
                                <input class="form-control" th:placeholder="#{button.search}" >
                            </div>
                        </form>
                    </li>
                </ul>
                <!-- END TOP-LEFT TOOLBAR-->
                


                <!-- START TOP-RIGHT TOOLBAR-->
                <ul class="nav navbar-toolbar">
 
				<li class="dropdown dropdown-language">

<!-- 						<select name="cars" id="cars">
						  <option value="volvo">VN</option>
						  <option value="saab">EN</option>

						</select> -->
  				    <div style="text-align: right; padding: 5px; margin: 5px 0px;">
				        <a id="lang-en"  href="#">EN</a>
				        <samp>|</samp>
				        <a id="lang-vi"  href="#">VN</a>
				    </div> 
                        <!-- /.row -->
				</li>
				<li class="dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                            <img src="./assets/img/admin-avatar.png" />
                            <span th:utext="${#request.userPrincipal.name}"></span><i class="fa fa-angle-down m-l-5"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="profile"><i class="fa fa-user" th:uText="#{label.profile}"></i></a>
                            <a class="dropdown-item" href="profile"><i class="fa fa-cog" th:uText="#{label.setting}"></i></a>
                            <a class="dropdown-item" href="profile"><i class="fa fa-support" th:uText="#{label.support}"></i></a>
                            <li class="dropdown-divider"></li>
                            <a class="dropdown-item" th:href="@{/logout}"><i class="fa fa-power-off"  th:uText="#{button.logout}"></i></a>
                        </ul>
                    </li>

                </ul>
                <!-- END TOP-RIGHT TOOLBAR-->
            </div>
        </header>
        
        


</body>
</html>